extends layout

block content
    h1 Your Profile:
    p Username: #{user.username}
    p Email: #{user.email}
    p Age: #{user.age}
    p What is the best pet to have?: #{user.answer1}
    p PC or Console?: #{user.answer2}
    p Are you left or right handed?: #{user.answer3}
    br
    a(href="/editprofile") Edit Your Profile

block linkSection
    a(href="/") 
        div Home&nbsp;
    a(href="/logout") 
        div Log Out