extends layout

block content
    H1 Profile Page
    p username: #{user.Username}
    p email: #{user.email},
    p age: #{user.age},
	p answer1: #{user.answer1},
    p answer2: #{user.answer2},
    p answer3: #{user.answer3}