extends layout

block content
    h1 Your Profile:
    p username: #{user.username}
    p email: #{user.email},
    p age: #{user.age},
    p answer1: #{user.answer1},
    p answer2: #{user.answer2},
    p answer3: #{user.answer3}